/*
 * angular-modal v0.1.0
 * (c) 2013 Brian Ford http://briantford.com
 * License: MIT
 */

.btf-modal {
  position: fixed;
  background: white;
  border-radius: 5px;
  top: 30%;
  left: 50%;
  width: 60%;
  border: 1px solid #ccc;
  height: auto;
  z-index: 2000;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-30%);
/*  transition: max-width 0.5s ease;*/
}

.top-modal {
  position: fixed;
  padding: 10px;
  z-index: 3;
  top:0px;
  left: 0px;
  width: 97.5%;
  border-radius: 5px 5px 0px 0px;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
}
.modal-top-item {
  float: right;
  /*margin-right: 20px;*/
}

.modal-holder {
  width: 80%;
  padding-top: 50px;
  padding-left: 20px;
  margin: auto;

}
.modal-holder>form>*{
  width: 90%;
  height: 30px;
  margin-bottom: 20px;

}
.modal-holder .btn{
  width: 92%;
  padding: 5px;
}

.flash {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.6);
  z-index: 2;

}
