<div class="jobs-list" ng-init="getItems()">
  <ul >
    <li ng-repeat="item in items">
      <div class="job-company">{{item.company}}</div>
      <div class="job-title"> <a href="#" ng-click="activateForm(item.id)">{{item.title}}</a></div>
      <div class="job-location"> {{item.location}}</div>
    </li>
  </ul>
</div>
