<div class="btf-modal">
	<div class="top-modal">
		Apply <button class="modal-top-item" ng-click="modal.closeMe()">X</button>
	</div>
	<div class="modal-holder" ng-init="loadForm()">
		<form  name="req_form"  >

  <input type="text" class="form-control" name="name" ng-model="applicationForm.name" placeholder="Your Name" ng-minlength="3" required/>
  <br>
  <input type="text" class="form-control" name="pass" ng-model="applicationForm.email"  placeholder="Your Email" />

  <br>

  <input type="text" class="form-control" name="low" ng-model="applicationForm.address" placeholder="Your Address"/>

  <br>

  <input type="text" class="form-control" name="high" ng-model="applicationForm.phone" placeholder="Your Phone" />

  <br>
  <ul>
    <li ng-repeat="question in applicationForm.question">
      {{question.text}}
    </li>
  </ul>

  <input type="submit" class="btn" value="Apply" ng-disabled="!req_form.$valid" ng-click="submitForm()"></input>


</form>
	</div>



</div>
<div class="flash" ng-click="modal.closeMe()"></div>
